{% extends "layouts/layout.html" %}

{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}

{% block pageTitle %}Prototypes - planning.data.gov.uk{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">How to publish your data</h1>
        {# <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible"> #}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set overviewHTML %}
        <h3 class="govuk-heading-m">Context</h3>
        <p>The DLUHC service, RIPA, needs machine readable data about planning and housing to help their users submit valid planning applications.</p>
        <h3 class="govuk-heading-m">Hypothesis</h3>
        <h4 class="govuk-heading-s">We believe</h4>
        <p>Local Planning Authorities (LPA) will need help with the task of providing the data needed by planning.data.gov.uk and RIPA.</p>
        <h4 class="govuk-heading-s">We think this is because</h4>
        <p>Some LPAs have low access to the digital/data skills and resources needed to complete the tasks and provide the data we will ask of them.</p>
        <h4 class="govuk-heading-s">So if we</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Provide guidance about the data we require and how to provide it.</li>
          <li>Provide a way for LPAs to inspect the data they have provided to planning.data.gov.uk</li>
          <li>Provide a way for LPAs to get support.</li>
        </ul>
        <h4 class="govuk-heading-s">We should see</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>Fewer errors and omissions in the data that is provided.</li>
          <li>Less 1-1 support and assistance is required by LPAs.</li>
          <li>The data can be used by digital-land and RIPA with little or no manual intervention.</li>
        </ul>
        {% endset %}

        {{ govukDetails({
          'summaryText': "Context and Hypothesis for these designs",
          'text': overviewHTML
        })}}

        <h3 class="govuk-heading-m">
          <a href="version-1.html" class="govuk-link">Version 1 - basic page</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>A plain content version of the guidance</li>
        </ul>
        <h3 class="govuk-heading-m">
          <a href="version-1-b.html" class="govuk-link">Version 1B - Enhanced fields display</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Uses the GOVUK Design System <a href="https://design-system.service.gov.uk/components/summary-list/">'Summary List' component</a> to display the data specifications</li>
          <li>Adds a 'contents' list at the top</li>
          <li>Adds a 'back to top' link at the bottom</li>
        </ul>
        <h3 class="govuk-heading-m">
          <a href="version-2.html" class="govuk-link">Version 2 - Tabular field reference matrix</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Displays the dataset specifications in a table with reference of field definitions</li>
        </ul>

        <h3 class="govuk-heading-m">
          <a href="version-3.html" class="govuk-link">Version 3 - Visual tabular fields reference matrix</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Alternate version of the table matrix using iconography</li>
        </ul>

        <h3 class="govuk-heading-m">
          <a href="version-4.html" class="govuk-link">Version 4 - Summary list with jump links</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Revises content from the user perpective</li>
          <li>Adds back to top links after each dataset</li>
          <li>Adds support information to aside column</li>
        </ul>

      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Quick links</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="https://docs.google.com/document/d/1zpuFkKJMa6fIQTOgnc05_OUcmVU6qgNpOdHPA3J6tho/edit?usp=sharing" target="_blank">Hypotheses statements</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1DsUFHdHxEQeJPRJHEdOn52Ryc349q7nAg-1D_nPZIco/edit?usp=sharing" target="_blank">Research questions</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1sseI68YkAtyto_9EgZbJVn80osGqrv13t6DUrvqGQKU/edit?usp=sharing" target="_blank">Content document</a>
          </li>
          <li>
            <a href="https://docs.google.com/presentation/d/1578R9Fe-R1ozI-cg2yZByXvUqptESJZcJLxGiYzkE-U/edit#slide=id.gf3a76f8ba3_0_2" target="_blank">
              Research playback deck
            </a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Who worked on this</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <span class="govuk-!-font-weight-bold">Design</span><br>Paul Smith
          </li>
          <li>
            <span class="govuk-!-font-weight-bold">Research</span><br>Katie Glaubius
          </li>
          <li>
            <span class="govuk-!-font-weight-bold">Content Design</span><br>Elizabeth Bartram
          </li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
