appdirs
black
flake8
Flask
Flask-Assets
Flask-BasicAuth
Flask-Script
-e git+https://github.com/digital-land/digital-land-frontend.git#egg=digital-land-frontend
gunicorn
itsdangerous
Jinja2
libsass
MarkupSafe
packaging
pyparsing
python-dotenv
requests
six
webassets
Werkzeug
