// import all GOVUK Frontend scss
@import "node_modules/govuk-frontend/govuk/all";
@import "component/attachment";
@import "component/summary-list";

.govuk-tabs--basic {

    // with javascript
    .js-enabled & {
        .govuk-tabs {
            &__list {
                &-item {
                    &--selected {
                        border: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.dl-link--mono {
    font-family: monospace;
}

abbr {
    speak:spell-out;
    text-decoration: none;
}
