// import all GOVUK Frontend scss
@import "node_modules/govuk-frontend/govuk/all";
@import "component/attachment";
@import "component/summary-list";

.dl-link--mono {
    font-family: monospace;
}

abbr {
    speak:spell-out;
    text-decoration: none;
}
