{% extends "layouts/layout.html" %}
{% block pageTitle %}Prototypes - Digital Land{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototypes</h1>
        <p>The following links are to individual prototypes assembled and researched by the Planning Data team of The Department for Levelling Up, Housing and Communities.</p>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list--number">
          <li>
            <a href="/pages/ripa-guidance/" class="">How to publish your data</a>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Quick links</h2>
        <ul class="govuk-list">
          <li>
            <a href="https://github.com/digital-land/govuk-flask-prototype-kit">Prototype Kit Github</a>
          </li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
