{% extends "layouts/layout.html" %}
{% block pageTitle %}Design - The Planning Data Service{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Design</h1>
        <p class="govuk-body-l">Design resources and prototypes developed by the planning data team at The Department for Levelling Up, Housing and Communities.</p>
        <hr class="govuk-section-break govuk-section-break--m">
      </div>
    </div>

    <section id="keylinks">
    
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <a href="https://docs.google.com/document/d/1eDCBTlMWc5qlNvBOlLMrroIpBtIZwydyPseOwgrnvio/edit?usp=sharing" class="dl-block-link" target="_blank">
            <div class="dl-block-link__heading govuk-!-margin-bottom-0 dl-block-link__row">Design document</div>
            <div class="dl-block-link__description dl-block-link__row">A living google document with the high level design context for the Planning Data Service.</div>
          </a>
        </div>
        <div class="govuk-grid-column-one-third">
          <a href="https://docs.google.com/spreadsheets/d/1NpCq1zWTPbJ-s6ARlEM_AM-rvlorGZSpRlZmYf34Sfc/edit?usp=sharing" class="dl-block-link" target="_blank">
            <div class="dl-block-link__heading govuk-!-margin-bottom-0 dl-block-link__row">Userneeds</div>
            <div class="dl-block-link__description dl-block-link__row">A living google sheet used to capture user needs.</div>
          </a>
        </div>
        <div class="govuk-grid-column-one-third">
          <a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1664203840287/c2f42184b988fbec75a652b5cabf6fd23726b98c?sender=u22d50a56a87d8a7dbf2c6285" class="dl-block-link" target="_blank">
            <div class="dl-block-link__heading govuk-!-margin-bottom-0 dl-block-link__row">Service map</div>
            <div class="dl-block-link__description dl-block-link__row">A regularly updated service map used to help visualise the Planning Data Service.</div>
          </a>
        </div>
      </div>

    </section>

    <hr class="govuk-section-break govuk-section-break--l">

    <section id="prototypes">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l app-heading--section-break govuk-!-margin-bottom-5">Prototypes</h2>
          <p class="govuk-body">Prototype page designs, components, interaction/user flows used in research or collaborative workshops.</p>
          <hr class="govuk-section-break govuk-section-break--m">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Manage data about planning and housing</h2>
          <p class="govuk-hint govuk-!-font-size-16">A sub-service of the Planning Data Service (Platform)</p>
        </div>
        <!-- /.govuk-grid-column-one-third -->
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
            <li class="">
              <a href="/prototypes/data-manager/">Data manager application</a><br>Prototypes of an application to manage data collected from local planning authorities.
            </li>
            <li>
              <a href="/pages/performance/">Performance grid</a>
              <br>Design experiment for showing health of datasets for RIPA.
            </li>
              <li>
                <a href="https://local-plans-prototype.herokuapp.com/" target="_blank">Housing numbers (opens in a new window)</a><br>Experimental work on collection of housing numbers from local plans.
              </li>
          </ul>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Get support to publish planning and housing data</h2>
          <p class="govuk-hint govuk-!-font-size-16">A sub-service of the Planning Data Service (Platform)</p>
        </div>
        <!-- /.govuk-grid-column-one-third -->
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
            <li class="">
              <a href="/prototypes/guidance/">Guidance for local planning authorities</a><br>Prototype designs of guidance for Local Planning Authorities intended to help them publish data required by planning.data.gov.uk.
            </li>
            <li>
              <p>
                <a href="/prototypes/feedback/">Feedback Application</a><br>
                Page designs for feedback.digital-land.info which is a concept service aimed at helping improve the quality of data collected by the planning.data.gov.uk platform.
              </p>
            </li>
              <li>
                <a href="https://brownfield-sites-validator.herokuapp.com/" target="_blank">Brownfield sites validator (opens in a new window)</a><br>Prototype data validation for Brownfield sites.
              </li>
          </ul>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Get data about planning and housing</h2>
          <p class="govuk-hint govuk-!-font-size-16">A sub-service of the Planning Data Service (Platform)</p>
        </div>
        <!-- /.govuk-grid-column-one-third -->
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
            <li>
              <a href="/pages/entity/">'Entity' page</a><br>Prototype designs of webpages intended to show and help users to understand individual entities.
            </li>
          </ul>
        </div>
      </div>
  
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          </div>
          <div class="govuk-grid-column-two-thirds">
            <ul class="govuk-list">
              <li>
                <a href="https://github.com/digital-land/">The code for these prototypes on Github</a>
              </li>
            </ul>
          </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--l">

    </section>

    <section id="resources">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l app-heading--section-break govuk-!-margin-bottom-5">Resources</h2>
          <hr class="govuk-section-break govuk-section-break--m">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Artefacts</h2>
          <p class="govuk-hint govuk-!-font-size-16">Links to things you may need to design and build digital-land services</p>
        </div>
        <!-- /.govuk-grid-column-one-third -->
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
            <li>
              <a href="https://drive.google.com/drive/folders/1C6J124EOQ_Rltwxld981fk-_nmQ2j6Ta?usp=sharing">Sketch sheets</a><br>
              A google drive folder of document templates for sketching and workshops. Ideation sheets, half-page viewport windows and more.
            </li>
            <li>
              <a href="https://drive.google.com/drive/folders/1uqkV2wYvrPzCO9ZWN45_00LGpBYl3ldj?usp=sharing">Visual assets</a><br>
              A google drive folder of logos and other assets such as icons for files, department logos.
            </li>
          </ul>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l">
    
    </section>

  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
