{% extends "layouts/layout.html" %}
{% block content %}

<main id="content" role="main">
  <h1 class="govuk-heading-xl">Digital Land Prototype Kit</h1>
  <p class="govuk-body">A place to create in-browser prototypes and design experiments for digital land</p>
  <h2 class="govuk-heading-l">Templates</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="{{ url_for('base.homepage', version='1') }}">
        Homepage
      </a>
    </li>
    <li>
      <a class="govuk-link" href="{{ url_for('base.map') }}">
        Map test
      </a>
    </li>
  </ul>
</main>
{% endblock %}

{% block bodyEnd %}
{{ super() }}
<script src="/static/javascripts/test.js"></script>
{% endblock bodyEnd %}
