{% extends "layouts/layout.html" %}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{{ govukTag(fixture.options)}}
{% block pageTitle %}Feedback{% endblock %}
{% block content %}

  <main id="content" role="main">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Organisation</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Manchester City Council</h1>
        <p class="govuk-body-l">Feedback to help organisations and The Department for Levelling Up, Housing and Communities publish good data.</p>
      </div>
      <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-!-margin-top-0 govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Datasets</h2>
        <p>The following is a list of the datasets DLUHC creates using data published by each local authority with a status from the last time data was collected.</p>

        {% set confObj = {
          'status' : {
            'actions' : 'Action needed',
            'recommendations': 'Has recommendations'
          }
        } %}

        {{ 
          govukTable(
            {
              'head': [
                {'text': 'Dataset'},
                {'text': 'Collection report', 'format': 'numeric'},
              ], 
              'rows': [
                [
                  {
                    'text': 'Brownfield land'
                  }, 
                  {
                    'html': govukTag({'text': confObj.status.actions }), 
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Article 4 direction'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Brownfield site'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Conservation area'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Developer agreement'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Developer agreement contribution'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Developer agreement transaction'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Employment allocation'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Tree'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'text': 'Tree preservation order'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ]
              ]
            }
          )
        }}

      </div>
    </div>


  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
