{% extends "layouts/layout.html" %}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{{ govukTag(fixture.options)}}
{% block pageTitle %}Feedback{% endblock %}
{% block content %}

  <main id="content" role="main">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Organisation</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Manchester City Council</h1>
        <p class="govuk-body-l">Feedback to help your organisation publish planning data.</p>
      </div>
      <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-!-margin-top-0 govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {# <h2 class="govuk-heading-l">Datasets</h2> #}
        <p>The following is a list of the datasets DLUHC creates using data published by each local authority with a status from the last time data was collected.</p>

        {% set confObj = {
          'status' : {
            'actions' : 'Action needed',
            'recommendations': 'Has recommendations'
          }
        } %}

        {{ 
          govukTable(
            {
              'head': [
                {'text': 'Dataset'},
                {'text': 'Collection report', 'format': 'numeric'},
              ], 
              'rows': [
                [
                  {
                    'html': '<a href="dataset-index.html">Brownfield land</a>'
                  }, 
                  {
                    'html': govukTag({'text': confObj.status.actions }), 
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Article 4 direction</a>'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Brownfield site</a>'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Conservation area</a>'
                  },
                  {
                    'html': govukTag({ 
                      'text': confObj.status.recommendations,
                      'classes': 'govuk-tag--blue'
                    }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Developer agreement</a>'
                  },
                  {
                    'html': govukTag({ 
                      'text': confObj.status.recommendations,
                      'classes': 'govuk-tag--blue'
                    }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Developer agreement contribution</a>'
                  },
                  {
                    'html': '',
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Developer agreement transaction</a>'
                  },
                  {
                    'html': govukTag({ 
                      'text': confObj.status.recommendations,
                      'classes': 'govuk-tag--blue'
                    }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Employment allocation</a>'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Tree</a>'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ],
                [
                  {
                    'html': '<a href="dataset-index.html">Tree preservation order</a>'
                  },
                  {
                    'html': govukTag({ 'text': confObj.status.actions }),
                    'format': 'numeric'
                  }
                ]
              ]
            }
          )
        }}

        <p class="govuk-!-font-size-14">This page was last updated {{ '06-05-2022' }}</p>

      </div>
    </div>


  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
