<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
  <span class="govuk-caption-xl">Organisation</span>
  <h1 class="govuk-heading-xl">East Suffolk Council</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="organisation">Organisation</h2>
    <p class="govuk-body-l">

  This organisation was
   established on the <time datetime="2019-04-01">1 April 2019</time>.

    </p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://local-authority-eng.register.gov.uk/record/ESK">local-authority-eng:ESK</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Local authority type
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://local-authority-type.register.gov.uk/record/NMD">NMD</a>
          (Non-metropolitan district)</dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Website
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://www.eastsuffolk.gov.uk">https://www.eastsuffolk.gov.uk</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Wikidata
        </dt>
        <dd class="govuk-summary-list__value">
        <a href="https://wikidata.org/wiki/Q59536023">Q59536023</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          data.gov.uk
        </dt>
        <dd class="govuk-summary-list__value">
            <a href="https://data.gov.uk/search?filters%5Bpublisher%5D=East Suffolk Council">datasets</a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Open Data Communities organisation
        </dt>
        <dd class="govuk-summary-list__value">
        <p><a href="http://opendatacommunities.org/id/district-council/east-suffolk">http://opendatacommunities.org/id/district-council/east-suffolk</a></p>
        <input class="govuk-input copy-and-paste" type="text" value="http://opendatacommunities.org/id/district-council/east-suffolk" readonly data-module="input-copy">
        <!-- see huffduffer.com for how @adactio does this beautifully -->
        <p></p>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a href="https://www.gov.uk/guidance/local-resilience-forums-contact-details" class="govuk-link">Local resilience forum</a>
          </dt>
          <dd class="govuk-summary-list__value">
          Suffolk
          </dd>
      </div>
    </dl>
  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="download">Download the data</h2>
      <p class="govuk-body">You can download the data on this page as:</p>
      <ul class="govuk-list">
        <li><a href="https://raw.githubusercontent.com/digital-land/organisation-dataset/master/collection/organisation.csv">CSV</a></li>
      </ul>
    </aside>
  </div>

</div>


<div class="govuk-grid-row govuk-main-wrapper--l">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l" id="geographical-area">Geographical area</h2>

<dl class="govuk-summary-list">


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Statistical geography
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="http://statistics.data.gov.uk/id/statistical-geography/E07000244">E07000244</a>
    </dd>
  </div>







  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Open Data Communities area
    </dt>
    <dd class="govuk-summary-list__value">
    <p><a href="http://opendatacommunities.org/id/geography/administration/nmd/E07000205">http://opendatacommunities.org/id/geography/administration/nmd/E07000205</a></p>
    </dd>
  </div>
<div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Region
    </dt>
    <dd class="govuk-summary-list__value">
    East of England
    </dd>
  </div></dl><div class="map-wrapper govuk-!-padding-top-0">
  <h4 class="govuk-heading-s">Boundary</h4>
  
<div class="dl-map__wrapper" style="min-height: 350px;"><div 
        class="dl-map govuk-!-margin-top-1 govuk-!-margin-bottom-2"
        id="aMap"
        data-module="boundary-map"
        data-geojson-urls="https://raw.githubusercontent.com/digital-land/boundary-collection/master/collection/local-authority/E07000244/index.geojson"   
    >
        <noscript>To view this map, you need to enable JavaScript.</noscript>
    </div>
    
</div>

</div>
<p class="govuk-body">Download the <a href="https://raw.githubusercontent.com/digital-land/boundary-collection/master/collection/local-authority/E07000244/index.geojson">boundary GeoJSON</a>.</p></div>
</div>
