{% extends "layouts/layout.html" %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{% block pageTitle %}Entity page - prototype{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Entity page</h1>
        <p class="govuk-body-l"></p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        {% set overviewHTML %}

        <h2 class="govuk-heading-m">User needs</h2>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>As somebody looking for data I need to be able to trust the data planning.data.gov.uk provides is accurate, up-to-date and authoritative. </li>
          <li>As a data provider I need to understand how the data we share is processed and used by the platform to trust that the data is still accurate and correct.</li>
        </ul>

        <h2 class="govuk-heading-m">Hypothesis</h2>

        <p>For users to to trust the data planning.data.gov.uk provides we have the following hypothesis:</p>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>If we show users where this data came from (Which organisation(s) provided it) that will build trust in the data</li>
          <li>If we show users where individual field values came from it will help them to understand the authoritative rules MHCLG applies and build trust in the data</li>
          <li>If we show users how the data has changed over time, they will understand how the data is kept up-to-date and accurate which will increase trust in the data</li>
        </ul>

        <h2 class="govuk-heading-m">Design questions</h2>
        <p>Is there a need for an interactive map if the 'entity' is a geography? Is a static render of the boundary/polygon enough?</p>

        {% endset %}

        {{ govukDetails({
          'summaryText': "Userneeds and Hypothesis for these designs",
          'text': overviewHTML
        })}}

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-m">
          <a href="version-2.html" class="govuk-link">Entity page - Iteration 5</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Adds panel to show the data in it's raw form</li>
          <li>Moves data provided by beneath new data panel</li>
        </ul>

        <h3 class="govuk-heading-m">
          <a href="version-1.html" class="govuk-link">Entity page - Iteration 4</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Last updated history footer.</li>
          <li>Adds resolved labels for field values</li>
        </ul>

        <h3 class="govuk-heading-m">
          <a href="../provenance/version-3.html" class="govuk-link">Entity page - Iteration 3</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Links to examine the the provenance, history and other features are linked to for each field</li>
        </ul>

        <h3 class="govuk-heading-m">
          <a href="../provenance/version-2.html" class="govuk-link">Entity page - Iteration 2</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Links to examine the the provenance, history and other features in a sub navigation</li>
        </ul>
        
        <h3 class="govuk-heading-m">
          <a href="../provenance/version-1.html" class="govuk-link">Entity page - Iteration 1</a>
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>Question: Should 'View provenance' be 'Trace data'? </li>
          <li>Links within the summary record card to view provenance and history of the data</li>
        </ul>

      </div>
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Quick links</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a href="https://trello.com/c/yX9W1nLA" target="_blank">Trello ticket</a>
          </li>
          <li>
            <a href="https://app.mural.co/invitation/mural/mhclg2837/1649763660103?sender=u22d50a56a87d8a7dbf2c6285&key=072e2a7e-0202-40ed-8a9f-d8ff1219c33a" target="_blank">Mural Sketch board</a>
          </li>
          <li>
            <a href="https://mhclg-my.sharepoint.com/:v:/r/personal/pam_clair_communities_gov_uk/Documents/Recordings/Digital%20Planning%20Show%20and%20Tell-20220504_100005-Meeting%20Recording.mp4?csf=1&web=1&e=G93jY2">Show & Tell video</a> with discussion of this work.
          </li>
          <li>
            <a href="https://docs.google.com/presentation/d/1s_bkGFvg6_zFKd1vGwuzujIgYouAawN3T5y9OvTMbok/edit?usp=sharing">Show & Tell Slides</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Who worked on this</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <span class="govuk-!-font-weight-bold">Design</span><br>Paul Smith
          </li>
          <li>
            <span class="govuk-!-font-weight-bold">Research</span><br>Katie Glaubius
          </li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
