{% extends "layouts/layout.html" %}
{%- from "digital-land-frontend/components/sub-nav-tabs/macro.jinja" import dlSubNavTabs %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{% block pageTitle %}Provenance - Digital Land{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Conservation area</span>
        <h1 class="govuk-heading-xl">Wheathampstead</h1>

        {# <div class="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <nav class="dl-subnav" aria-label="Sub navigation">
            <ul class="dl-subnav__list">
              <li class="dl-subnav__list-item dl-subnav__list-item--selected">
                <a class="dl-subnav__list-item__link" href="#record" aria-selected="true">
                Entity
                </a>
              </li>
            </ul>
          </nav>
        </div> #}

      </div>

      <div class="govuk-grid-column-two-thirds">

        <section class="app-summary-card govuk-!-margin-bottom-6">
          <div class="app-summary-card__body">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Field</th>
                  <th scope="col" class="govuk-table__header">Value</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% set actionsObject = {
                  'provenance': {
                    'text': 'Source',
                    'url': '#provenance'
                  }
                } %}
                {% set recordData = [
                  {
                    'field': 'name',
                    'value': 'Wheathampstead',
                    'actions': actionsObject
                  },
                  {
                    'field': 'entry-date',
                    'value': '2021-09-23',
                    'actions': actionsObject
                  },
                  {
                    'field': 'start-date',
                    'value': '1969-03-24',
                    'actions': actionsObject
                  },
                  {
                    'field': 'end-date',
                    'value': '',
                    'actions': actionsObject
                  },
                  {
                    'field': 'entity',
                    'value': '3015314',
                    'actions': actionsObject
                  },
                  {
                    'field': 'dataset',
                    'value': 'Conservation area',
                    'actions': actionsObject
                  },
                  {
                    'field': 'typology',
                    'value': 'geography',
                    'actions': actionsObject
                  },
                  {
                    'field': 'reference',
                    'value': '5067',
                    'actions': actionsObject
                  },
                  {
                    'field': 'prefix',
                    'value': 'conservation-area',
                    'actions': actionsObject
                  },
                  {
                    'field': 'organisation-entity',
                    'value': '16',
                    'actions': actionsObject
                  }
                ] %}
                {% for row in recordData %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ row.field }}</td>
                    <td class="govuk-table__cell">
                      <span class="u-data-value">{{ row.value }}</span>
                    </td>
                    <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right">
                      <a href="{{ row.actions.provenance.url }}">{{ row.actions.provenance.text }}</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <footer class="app-summary-card__footer">
            Data provided by <a href="#">Historic England</a>, <a href="#">DLUHC</a> and <a href="#">Lambeth Council</a>
          </footer>
        </section>

        {% set overviewHTML %}

          <h3 class="govuk-heading-s">Entity</h3>

          <p>An entity is the label we have given to a group of data fields about a specific thing. An entity can represent anything, this page shows the entity for 'Wheathampstead', which we have established from the value of the 'name' field.</p>

          <h3 class="govuk-heading-s">Field</h3>

          <p>A field is a single piece of data (sometimes called a row of data) about a specific thing. A field has a name (sometimes called a 'column name') and a possible value.</p>

          <p>Each field has a source link, clicking it will show you:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>where that data (the field and it's value) were was collected from</li>
            <li>why that data is being used (if there are multiple possible sources available)</li>
          </ul>

        {% endset %}

        {{ govukDetails({
          'summaryText': "Help understanding this entity table",
          'text': overviewHTML
        })}}

        <section class="app-history-summary">
          <p>kjdkjdkdj</p>
        </section>
        <!-- /.app-history-summary -->

      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
