{% extends "layouts/layout.html" %}
{%- from "digital-land-frontend/components/sub-nav-tabs/macro.jinja" import dlSubNavTabs %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{% block pageTitle %}Provenance - planning.data.gov.uk{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Wheathampstead</span>
        <div class="govuk-heading-xl">Data history</div>
      </div>

      <div class="govuk-grid-column-two-thirds">

      {% set entityHTML %}

        <section class="app-summary-card govuk-!-margin-bottom-0">
          <div class="app-summary-card__body">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Field</th>
                  <th scope="col" class="govuk-table__header">Value</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% set actionsObject = {
                  'provenance': {
                    'text': 'Data sources',
                    'url': '#provenance'
                  }
                } %}

                {% set recordData = [
                  {
                    'field': 'Entity',
                    'value': '3015314',
                    'status': ''
                  },
                  {
                    'field': 'Dataset',
                    'value': 'Conservation area' | safe,
                    'status': ''
                  },
                  {
                    'field': 'Organisation',
                    'value': '16 <span class="app-c-data-table__reference">(Historic England)</span>' | safe,
                    'value': 'Historic England' | safe,
                    'status': ''
                  },
                  {
                    'field': 'Prefix',
                    'value': 'conservation-area-bor',
                    'status': 'updated'
                  },
                  {
                    'field': 'Reference',
                    'value': 'CA01',
                    'status': ''
                  },
                  {
                    'field': 'Name',
                    'value': 'Wheathampstead',
                    'status': ''
                  },
                  {
                    'field': 'Typology',
                    'value': 'Geography' | safe,
                    'status': ''
                  },
                  {
                    'field': 'Start date',
                    'value': '1969-03-24',
                    'status': ''
                  },
                  {
                    'field': 'End date',
                    'value': '',
                    'status': ''
                  },
                  {
                    'field': 'Entry date',
                    'value': '2021-04-12',
                    'status': ''
                  }
                ] %}
                {% for row in recordData %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ row.field }}</td>
                    <td class="govuk-table__cell">
                      <span class="u-data-value">{{ row.value }}</span>
                    </td>
                    <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right">
                      {% if row.status %}
                        {% if row.status == 'new' %}
                          {{ govukTag({'text': 'Added', 'classes': 'govuk-tag--green'}) }}
                         {% elif row.status == 'updated' %}  
                          {{ govukTag({'text': 'Updated', 'classes': 'govuk-tag--blue'}) }}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      {% endset %}

      {% set entityFirstCollectedHTML %}

        <section class="app-summary-card govuk-!-margin-bottom-0">
          <div class="app-summary-card__body">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Field</th>
                  <th scope="col" class="govuk-table__header">Value</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% set actionsObject = {
                  'provenance': {
                    'text': 'Data sources',
                    'url': '#provenance'
                  }
                } %}

                {% set recordData = [
                  {
                    'field': 'Entity',
                    'value': '3015314',
                    'status': 'new'
                  },
                  {
                    'field': 'Dataset',
                    'value': 'Conservation area' | safe,
                    'status': 'new'
                  },
                  {
                    'field': 'Organisation',
                    'value': '16 <span class="app-c-data-table__reference">(Historic England)</span>' | safe,
                    'value': 'Historic England' | safe,
                    'status': 'new'
                  },
                  {
                    'field': 'Prefix',
                    'value': 'conservation-area-lbm',
                    'status': 'new'
                  },
                  {
                    'field': 'Reference',
                    'value': 'CA01',
                    'status': 'new'
                  },
                  {
                    'field': 'Name',
                    'value': 'Wheathampstead',
                    'status': 'new'
                  },
                  {
                    'field': 'Typology',
                    'value': 'Geography' | safe,
                    'status': 'new'
                  },
                  {
                    'field': 'Start date',
                    'value': '1969-03-24',
                    'status': 'new'
                  },
                  {
                    'field': 'End date',
                    'value': '',
                    'status': 'new'
                  },
                  {
                    'field': 'Entry date',
                    'value': '2021-04-12',
                    'status': 'new'
                  }
                ] %}
                {% for row in recordData %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ row.field }}</td>
                    <td class="govuk-table__cell">
                      <span class="u-data-value">{{ row.value }}</span>
                    </td>
                    <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right">
                      {% if row.status %}
                        {% if row.status == 'new' %}
                          {{ govukTag({'text': 'Added', 'classes': 'govuk-tag--green'}) }}
                         {% elif row.status == 'updated' %}  
                          {{ govukTag({'text': 'Updated', 'classes': 'govuk-tag--blue'}) }}
                        {% endif %}
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      {% endset %}

        <ul class="app-c-timeline">
          <li class="app-c-timeline__item">
            <ul class="app-c-nested-timeline">
              <div class="app-c-nested-timeline__wrapper">
                <li class="app-c-nested-timeline__item">
                  <h3 class="govuk-heading-m" id="lastupdated">09 December 2021</h3>
                  <ul class="app-events">
                    <li class="app-events__event">
                      <h4 class="govuk-body">Last update</h4>

                      {{ entityHTML }}

                    </li>
                  </ul>
                </li>
                <li class="app-c-nested-timeline__item">
                  <h3 class="govuk-heading-m" id="firstcollected">12 April 2021</h3>
                  <ul class="app-events">
                    <li class="app-events__event">
                      <h4 class="govuk-body">First collected</h4>

                        {{ entityFirstCollectedHTML }}

                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
