{% extends "layouts/layout.html" %}
{%- from "digital-land-frontend/components/sub-nav-tabs/macro.jinja" import dlSubNavTabs %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{% block pageTitle %}Provenance - Digital Land{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Wheathampstead</span>
        <div class="govuk-heading-xl">Provenance</div>
      </div>

      <div class="govuk-grid-column-full">

      {% set entityHTML %}

        <section class="app-summary-card govuk-!-margin-bottom-0">
          <div class="app-summary-card__body">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header app-u-width-one-quarter">Field</th>
                  <th scope="col" class="govuk-table__header app-u-width-one-quarter">Value</th>
                  <th scope="col" class="govuk-table__header app-u-width-one-quarter">Resources</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">

              {% set factData = provenanceData.fact %}
                {{ factData | debug | safe }}
                {% for key, value in factData.items() %}
                  <tr class="govuk-table__row">
                    {# <td class="govuk-table__cell app-u-width-one-quarter">
                      <span class="app-u-breakword">
                        {{ key }}
                      </span>
                    </td> #}
                    <td class="govuk-table__cell"><a href="/{{ key }}">{{ value.field }}</a></td>
                    <td class="govuk-table__cell">
                      <span class="u-data-value">
                      {% if value.field == 'geometry' %}
                          MULTIPOLYGON
                      {% elif value.field == 'documentation-url' %}
                        <a href="{{ value.value }}">{{ value.value }}</a>
                      {% else %}
                        {{ value.value }}
                      {% endif %}
                      </span>
                    </td>
                    <td class="govuk-table__cell">
                      {% if value.resource %}
                        <ul class="govuk-list govuk-!-margin-bottom-0">
                        {% for resourceItem in value.resource  %}
                          <li style="display:inline-block;"><a href="#">{{ loop.index }}</a></li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </section>
      {% endset %}

      {{ entityHTML }}

      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
