{% extends "layouts/layout.html" %}
{%- from "digital-land-frontend/components/sub-nav-tabs/macro.jinja" import dlSubNavTabs %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{% block pageTitle %}Provenance - planning.data.gov.uk{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Conservation area</span>
        <h1 class="govuk-heading-xl">Wheathampstead</h1>

        {# <div class="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <nav class="dl-subnav" aria-label="Sub navigation">
            <ul class="dl-subnav__list">
              <li class="dl-subnav__list-item dl-subnav__list-item--selected">
                <a class="dl-subnav__list-item__link" href="#record" aria-selected="true">
                Entity
                </a>
              </li>
            </ul>
          </nav>
        </div> #}

      </div>

      <div class="govuk-grid-column-two-thirds">

        <section class="app-summary-card govuk-!-margin-bottom-6">
          <div class="app-summary-card__body">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Field</th>
                  <th scope="col" class="govuk-table__header">Value</th>
                  <th scope="col" class="govuk-table__header"></th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% set actionsObject = {
                  'provenance': {
                    'text': 'Data sources',
                    'url': '#provenance'
                  }
                } %}

                {% set recordData = [
                  {
                    'field': 'entity',
                    'value': '3015314',
                    'actions': ''
                  },
                  {
                    'field': 'dataset',
                    'value': 'conservation-area',
                    'actions': ''
                  },
                  {
                    'field': 'organisation-entity',
                    'value': '16 <span class="app-c-data-table__reference">(Historic England)</span>' | safe,
                    'actions': actionsObject
                  },
                  {
                    'field': 'prefix',
                    'value': 'conservation-area-bor',
                    'actions': actionsObject
                  },
                  {
                    'field': 'reference',
                    'value': 'CA01',
                    'actions': actionsObject
                  },
                  {
                    'field': 'name',
                    'value': 'Wheathampstead',
                    'actions': actionsObject
                  },
                  {
                    'field': 'typology',
                    'value': 'geography',
                    'actions': actionsObject
                  },
                  {
                    'field': 'start-date',
                    'value': '1969-03-24',
                    'actions': actionsObject
                  },
                  {
                    'field': 'end-date',
                    'value': '',
                    'actions': actionsObject
                  },
                  {
                    'field': 'entry-date',
                    'value': '2021-09-23',
                    'actions': actionsObject
                  }
                ] %}
                {% for row in recordData %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ row.field }}</td>
                    <td class="govuk-table__cell">
                      <span class="u-data-value">{{ row.value }}</span>
                    </td>
                    <td class="govuk-table__cell govuk-!-font-size-14 govuk-!-text-align-right">
                      {% if row.actions.provenance %}
                        <a href="{{ row.actions.provenance.url | default('', true) }}">{{ row.actions.provenance.text }}</a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <footer class="app-summary-card__footer">
            Data provided by <a href="#">Historic England</a>, <a href="#">MHCLG</a> and <a href="#">Lambeth Council</a>
          </footer>
        </section>

        {% set overviewHTML %}

        <h3 class="govuk-heading-s">Entity</h3>

        <p>An entity is the label we have given to a group of data fields about a specific thing. An entity can represent anything, this page shows the entity for 'Wheathampstead', which we have established from the value of the 'name' field.</p>

        <h3 class="govuk-heading-s">Field</h3>

        <p>A field is a single piece of data (sometimes called a row of data) about a specific thing. A field has a name (sometimes called a 'column name') and a possible value.</p>

        <p>Each field has a source link, clicking it will show you:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>where that data (the field and it's value) were was collected from</li>
          <li>why that data is being used (if there are multiple possible sources available)</li>
        </ul>

        {% endset %}

        {{ govukDetails({
          'summaryText': "Help understanding this table",
          'text': overviewHTML
        })}}

        <section class="app-c-key-dates">
          <p class="app-c-key-dates__item">First collected 12 April 2020</p>
          <p class="app-c-key-dates__item">Last updated 1 Feb 2022 <a href="#updatesfull" class="toggle" data-toggled-text="- Hide all updates" data-default-text="+ Show all updates">+ Show all updates</a>
          </p>
          <div class="app-c-key-dates__additional" id="updatesfull">
            <ol class="app-c-key-dates__list">
              <li class="app-c-key-dates__list-item">
                <time class="app-c-key-dates__list-date timestamp" datetime="2022-04-12T16:47:41.000+01:00">12 April 2020</time>
                <p class="app-c-key-dates__list-note">
                  <a href="#">First collected</a>
                </p>
              </li>
              <li class="app-c-key-dates__list-item">
                <time class="app-c-key-dates__list-date timestamp" datetime="2022-04-01T08:27:00.000+01:00">1 Feb 2022</time>
                <p class="app-c-key-dates__list-note">
                  <a href="#">Field name was updated</a>
                </p>
              </li>
            </ol>
          </div>
        </section>
        <!-- /.app-history-summary -->

        <script>

          // this is utter garbage to test an idea. If you read this comment
          // in a product code base. Something has gone very very wrong!

          var show = function (elem) {
            elem.style.display = 'block';
          };

          var hide = function (elem) {
            elem.style.display = 'none';
          };

          var toggle = function (elem, $toggler, defaultText, toggledText) {

            // If the element is visible, hide it
            if (window.getComputedStyle(elem).display === 'block') {
              hide(elem);
              $toggler.innerHTML = defaultText;
            } else {
              // Otherwise, show it
              show(elem);
              $toggler.innerHTML = toggledText;
            }

          };

          // Listen for click events
          document.addEventListener('click', function (event) {

            // Make sure clicked element is our toggle
            if (!event.target.classList.contains('toggle')) 
              return;
            
            // Prevent default link behavior
            event.preventDefault();

            // Get the content
            var $toggler = event.target;
            var defaultText = $toggler.getAttribute('data-default-text');
            var toggledText = $toggler.getAttribute('data-toggled-text');
            var content = document.querySelector($toggler.hash);

            if (!content) 
              return;
            
            // Toggle the content
            toggle(content, $toggler, defaultText, toggledText);

          }, false);
        </script>

      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
