// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica",
  sans-serif;
$govuk-assets-path: "/static/govuk/assets/";
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// import all govuk frontend scss
@import "node_modules/digital-land-frontend/digital-land-frontend/dl-frontend";

// digital-land.info specific styles
// --------------------------------------------------------
// ITCSS levels
@import "base";
@import "utilities/buttons";
@import "utilities/layout";
@import "utilities/typography";
@import "utilities/list";
@import "unbranded";

// digital-land.info components
// --------------------------------------------------------
// components
@import "component/hero";
@import "component/attachment";
@import "component/summary-list";
@import "component/search";
@import "component/card";
@import "component/filter-group";
@import "component/applied-filters";
@import "component/feedback-panel";
@import "component/map-filter-checkboxes";
@import "component/map-popup";
@import "component/pagination";
@import "component/prose";
@import "component/summary-card";
@import "component/test-grid";
@import "component/panel";
@import "component/table";

// prototype version specific sass files

@import "versions/ripa";
@import "versions/entity";
@import "versions/feedback/index";

.app-heading--section-break {
  padding-bottom: govuk-spacing(3);
  border-bottom: 5px solid govuk-colour(blue);
}

#global-cookie-message { display: none; height: 0; overflow: hidden; }
