{% extends "layouts/layout.html" %}

{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}

{% block pageTitle %}Entity page - prototype{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

      <div class="app-c-test-grid">

      {% set gridrow  %}

        <div class="app-c-test-grid__row">
          <div class="app-c-test-grid__label">
            LondonBorough of Lambeth
          </div>
          <div class="app-c-test-grid__items">

            {% set datasets = [
            { 
              "dataset": "area-of-outstanding-natural-beauty",
              "result": "pass" 
            },
            { 
              "dataset": "article-4-direction-area",
              "result": "pass" 
            },
            { 
              "dataset": "central-activities-zone",
              "result": "pass" 
            },
            { 
              "dataset": "conservation-area",
              "result": "pass" 
            },
            { 
              "dataset": "listed-building",
              "result": "fail" 
            },
            { 
              "dataset": "listed-building-outline",
              "result": "No test" 
            },
            { 
              "dataset": "national-park",
              "result": "pass" 
            }
            ]
            %}

            {% for dataset in datasets  %}
            <div class="app-c-test-grid__item">
              <span class="app-c-test-grid__result app-c-test-grid__result--{{ dataset.result }}">
                <span>{{ dataset.dataset | unhyphenate | capitalize }}</span>
                <span class="app-c-test-grid__result-label">{{ dataset.result | capitalize }}</span>
              </span>
            </div>
            {% endfor %}

          </div>
        </div>
      
      {% endset %}

      {%- for i in range(0, 4) %}
        {{ gridrow }}
      {%- endfor %}

      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
