{% extends "layouts/layout.html" %}

{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}

{% block pageTitle %}Test grid component - prototype{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

      <div class="app-c-test-grid">

      {% macro gridrow(items)  %}

        <div class="app-c-test-grid__row">
          <div class="app-c-test-grid__label">
            Name of organisation
          </div>
          <div class="app-c-test-grid__items">

            {% set datasets = [
            { 
              "dataset": "area-of-outstanding-natural-beauty",
              "result": "pass" 
            },
            { 
              "dataset": "article-4-direction-area",
              "result": "pass" 
            },
            { 
              "dataset": "central-activities-zone",
              "result": "warn" 
            },
            { 
              "dataset": "conservation-area",
              "result": "pass" 
            },
            { 
              "dataset": "listed-building",
              "result": "warn" 
            },
            { 
              "dataset": "listed-building-outline",
              "result": "No test" 
            },
            { 
              "dataset": "national-park",
              "result": "pass" 
            }
            ]
            %}

            {# {% for dataset in datasets  %}
            <div class="app-c-test-grid__item">
              <span class="app-c-test-grid__result app-c-test-grid__result--{{ dataset.result }}">
                <span>{{ dataset.dataset | unhyphenate | capitalize }}</span>
                <span class="app-c-test-grid__result-label">{{ dataset.result | capitalize }}</span>
              </span>
            </div>            
            {% endfor %} #}

          {%- for i in range(0, items) %}
            <div class="app-c-test-grid__item">
              {% set result = ['pass', 'fail', 'n-a', 'warn'] | random %}
              <span class="app-c-test-grid__result app-c-test-grid__result--{{ result }}">
                <span><a href="#">{{ ['Name', 'A longer name', 'An even longer name'] | random }}</a></span>
                <span class="app-c-test-grid__result-label">{{ result }}</span>
              </span>
            </div>
          {%- endfor %}

          </div>
        </div>
      
      {% endmacro %}

      {{ gridrow(277) }}

      {%- for i in range(0, 4) %}
        {{ gridrow([8, 3, 5, 12, 156, 202, 300] | random) }}
      {%- endfor %}

      </div>
    </div>
  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
