{% extends "layouts/layout.html" %}
{%- from 'govuk_frontend_jinja/components/table/macro.html' import govukTable -%}
{%- from 'govuk_frontend_jinja/components/tag/macro.html' import govukTag -%}
{%- from 'govuk_frontend_jinja/components/summary-list/macro.html' import govukSummaryList -%}

{% set pageData = {
  'title': 'Guidance for local planning authorities',
  'crumbText': 'All guidance',
  'id': '0'
} %}

{% set backToTop %}
<p>
  <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
    <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>Back to top
    </a>
</p>
{% endset %}

{% block pageTitle %}{{ pageData.title }}{% endblock %}

{%- block breadcrumbs -%}
  {{- govukBreadcrumbs({
    "items": [
        {
          "text": "Guidance",
          "href": "index.html"
        },
        {
          "text": pageData.crumbText,
          "href": "index.html"
        }
    ]
    }) -}}
{%- endblock -%}

{% block content %}

  <main id="content" role="main">

    <div class="govuk-grid-row">
      
      <section class="govuk-grid-column-one-third">

      {%- include "prototypes/guidance/version-1/navigation.html" with context -%}

      </section>

      <section class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ pageData.title }}</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="introduction.html">Introduction</a>
        </h2>
        <p>A brief overview of the process of providing data and how it’s used to reduce invalid planning applications.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="how-to-provide-data.html">Provide data for Planning Data</a>
        </h2>
        <p>Step-by-step instructions on how to publish your data.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="specifications/">Data specifications guidance</a>
        </h2>
        <p>What to include in each dataset.</p>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-1">
          <a href="https://digital-land.github.io/specification/specification/">Technical specifications</a>
        </h2>
        <p>Technical guidance on what to include in each dataset.</p>


        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        {{ backToTop }}
        
      </section>

    </div>

  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
