<ul class="app-subnavigation">
  <li class="app-subnavigation__item{% if pageData.id == '1' %} app-subnavigation__item--active{% endif %}">
    <a href="" class="govuk-link app-subnavigation__link">Introduction</a>
  </li>
  <li class="app-subnavigation__item{% if pageData.id == '2' %} app-subnavigation__item--active{% endif %}">
    <a href="" class="govuk-link app-subnavigation__link">Provide data for Planning Data</a>
  </li>
  <li class="app-subnavigation__item{% if pageData.id == '3' %} app-subnavigation__item--active{% endif %}">
    <a href="" class="govuk-link app-subnavigation__link">Data specifications guidance</a>
  </li>
  <li class="app-subnavigation__item{% if pageData.id == '4' %} app-subnavigation__item--active{% endif %}">
    <a href="" class="govuk-link app-subnavigation__link">Technical specifications</a>
  </li>
</ul>
