{% extends "layouts/layout.html" %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}
{% block pageTitle %}Prototypes - planning.data.gov.uk{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Feedback application</h1>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set overviewHTML %}

        <h2 class="govuk-heading-m">User needs</h2>

        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>As a GIS officer, I need to understand what DL means by a unique reference and why it’s important, so that I can find a suitable solution that works for me and my policy colleagues.</li>
          <li>As a GIS/policy officer, I need to know the deadline for resolving an issue, to that I know how quickly I need to act.</li>
          <li>As a GIS officer, I need to see the sources DL has, so that I can check them.</li>
          <li>As a GIS/policy officer, I need to be notified of actions, so that I know when there are changes that need my attention.</li>
          <li>As a GIS/policy officer, I need to resolve actions so that I don’t have to repetitively check (something that isn’t wrong).</li>
          <li>As a planning policy officer, I need something unique to identify an error, so that I can find (the entity) within my own datasets.</li>
          <li>As a GIS/policy officer, I need to visualise my data on a map, so that I can see the data and errors more quickly.</li>
          <li>As a GIS/policy officer, I need to see which points on the map have errors or missing attributes, so that I can investigate them.</li>
        </ul>

        {% endset %}

        {{ govukDetails({
          'summaryText': "Userneeds and Hypothesis for these designs",
          'text': overviewHTML,
          'classes': "govuk-!-margin-bottom-0"
        })}}


      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-two-thirds">
      
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-7/">Version 7</a></h2>
              <p>21st Sept 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Iteration notes</h2>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Updates status.</li>
              </ul>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-6/">Version 6</a></h2>
              <p>15th June 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Iteration notes</h2>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Updates feedback view for a given dataset. Showing <a href="version-6/dataset-report.html?orgname=Greater%20Manchester%20Combined%20Authority&dataset=Conservation%20area">feedback organised by the type of issue</a>.</li>
              </ul>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-5/">Version 5</a></h2>
              <p>6th June 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Iteration notes</h2>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Updates <a href="version-5/dataset-report.html?orgname=Greater%20Manchester%20Combined%20Authority&dataset=Conservation%20area">feedback view for a given dataset</a>. Showing feedback against the specification.</li>
                <li>Adds a view of the individual feedback showing the source data</li>
                <li>Adds information about the required fields</li>
              </ul>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-4/">Version 4</a></h2>
              <p>25th May 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Iteration notes</h2>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Adds breadcrumb</li>
                <li>Updates organisation names data</li>
                <li>Updates 'about this data' page to link to specification and guidance.</li>
                <li>Changes layout of the feedback report, aims for better scannability.</li>
                <li>Changes the colour of dataset status such as action needed, standard met, etc.</li>
                <li>Removes map (for now)</li>
                <li>Adds a way for users to find their organisation via filtered search.</li>
                <li>Design for the feedback app as a standalone service for data providers such as local planning authrorities.</li>
              </ul>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-3/">Version 3</a></h2>
              <p>10th May 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Iteration notes</h2>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Adds standard met status to list of datasets</li>
                <li>Updates content on standard met view</li>
              </ul>
            </div>
          </div>  

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-2/">Version 2</a></h2>
              <p>09th May 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">

              <h2 class="govuk-heading-m">Things the prototype should include</h2>

              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Actions and recommendations per dataset</li>
                <li>Map and text view or errors </li>
                <li>Unique reference for entity that the user can use to search their own data</li>
                <li>Dynamic errors/actions</li>
                <li>Dynamic naming rather than entity</li>
              </ul>
              
              <h2 class="govuk-heading-m">Iterations from v1 to v2</h2>

              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Remove summary section from all pages</li>
                <li>Include timeframe for action to be taken</li>
                <li>Separate actions that are needed vs recommendations within the data collection report </li>
                <li>Compile / include a list of errors and make them more relevant to the ways users are providing data and the kinds of datasets</li>
                <li>offer a way to ignore/remove something that isn't actually an error/problem (maybe an email to JIRA for now?)</li>
                <li>Use whatever the 'unique ID' for an entity is, rather than address</li>
                <li>Change map red dots to be all entities that need action rather than only entities outside of the LPA boundary</li>
                <li>Potentially? combine the map view and text view of the data subset page</li>
                <li>Get rid of the word entity and replace with dynamic word for each dataset, eg. TPOs, conservations areas, listed buildings</li>
              </ul>

            </div>
          </div>    

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><a href="https://www.figma.com/proto/CIkZpX39QqsmNfff7VV1Ic/LPA-Data-collection-report?node-id=1%3A7&starting-point-node-id=1%3A7" class="" target="_blank">Version 1</a></h2>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <p>Figma prototype of early sketches to show feedback to Local Planning Authorities about the data DLUHC has collected from them.</p>
            </div>
          </div>

      </div>
      
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Useful links</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="https://docs.google.com/presentation/d/1ir4VXGYMHLrU85yndTb0E_WDYWzoUg_QSa9WSIr-e1w/edit?usp=sharing">Research playback showing version 2</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1fQIniCzTr5pz_dkLHzDCFQUWHVfmOmaKEbdna2raL2M/edit?usp=sharing">'issue types' content sheet</a></li>
          <li><a href="https://datasette.digital-land.info/digital-land/issue_type">Data 'issue types' Datasette</a></li>
        </ul>
      </div>
    
    </div>


  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
