// this anything in here will be in scope for all ripa prototypes
[class*='app-entity'] {
}

[class*='app-entity-version-2'] {
  .app-c-timeline {
    padding-left: 0;
    list-style-type: none;
    .edition h2 {
      margin: 60px 0 40px 0;
    }
    .app-c-nested-timeline {
      padding-left: 0;
      list-style-type: none;
    }
    .app-c-nested-timeline__wrapper {
      border-left: 4px solid govuk-colour('mid-grey');
      position: relative;
      margin-top: 10px;
    }
    .app-c-nested-timeline__item {
      margin-bottom: 40px;
      padding-left: 30px;
      position: relative;
      top: -10px;
      &:before {
        content: ' ';
        height: 4px;
        width: 10px;
        background: govuk-colour('mid-grey');
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 0;
      }
    }
    .app-events {
      padding-left: 0;
      list-style-type: none;
    }
    .app-events__event {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .metadata {
      color: $govuk-secondary-text-colour;
      display: inline-block;
      margin-bottom: 5px;
      @include govuk-font($size: 14);
    }
  }
}

.app-entity-version-1 {
  .app-c-key-dates {
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
  }

  .app-c-key-dates__item {
    @include govuk-font($size: 16);
    margin: 0;
  }

  .app-c-key-dates__additional {
    margin-top: govuk-spacing(5);
  }

  .js-enabled {
    .app-c-key-dates__additional {
      display: none;
    }
  }

  .app-c-key-dates__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .app-c-key-dates__list-date {
    @include govuk-font($size: 16, $weight: bold);
    margin: 0 0 govuk-spacing(1);
    display: block;
  }

  .app-c-key-dates__list-note {
    @include govuk-font($size: 16);
  }

  .app-c-data-table {
    &__reference {
      color: $govuk-secondary-text-colour;
      @include govuk-font($size: 16);
    }
  }
}

// --------------------------------------------------------
// VERSION 2
// --------------------------------------------------------

.app-entity-version-2 {
  .app-summary-card__footer {
    border-top: 1px solid $govuk-border-colour;
  }

  .app-c-key-dates {
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
  }

  .app-c-key-dates__item {
    @include govuk-font($size: 16);
    margin: 0;
  }

  .app-c-key-dates__additional {
    margin-top: govuk-spacing(5);
  }

  .js-enabled {
    .app-c-key-dates__additional {
      display: none;
    }
  }

  .app-c-key-dates__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .app-c-key-dates__list-date {
    @include govuk-font($size: 16, $weight: bold);
    margin: 0 0 govuk-spacing(1);
    display: block;
  }

  .app-c-key-dates__list-note {
    @include govuk-font($size: 16);
  }

  .app-c-data-table {
    &__reference {
      color: $govuk-secondary-text-colour;
      @include govuk-font($size: 16);
    }
  }

  .app-c-content {
    code {
      display: block;
      padding: govuk-spacing(4);
      // background: #000;
      // color: #fff;
      @include govuk-font($size: 19);
      font-family: monospace;
      overflow: auto;
    }
  }

  .app-c-sources-panel {
    background-color: govuk-colour('light-grey');
    border: 1px solid $govuk-border-colour;
    padding: govuk-spacing(3);
    @include govuk-font($size: 14);

    @include govuk-media-query($from: desktop) {
      // display: flex;
      // justify-content: space-between;
      align-items: start;
    }
  }

  @include govuk-media-query($from: tablet) {
    .govuk-\!-visually-hidden-from-tablet {
      @include govuk-visually-hidden;
    }

    .govuk-tabs--entity {
      margin-top: 0;
      border-left: 1px solid $govuk-border-colour;
      border-right: 1px solid $govuk-border-colour;
      .govuk-tabs__list-item {
        margin-right: 0;
        background: 0;
        padding: 16px 20px;
        border-left: 1px solid $govuk-border-colour;
        border-right: 1px solid $govuk-border-colour;
        &:first-of-type {
          border-left: 0;
          border-right: 0;
        }
      }
      .govuk-tabs__list {
        z-index: 2;
        position: relative;
        border-bottom: 0;
      }
      .govuk-tabs__list-item--selected {
        border-top: 0;
        margin-top: 0;
        margin-right: 0;
      }
      .govuk-tabs__panel {
        border-left: 0;
        border-right: 0;
      }
      .govuk-tabs__tab {
        color: $govuk-link-colour;
      }
    }

    .js-enabled {
      .govuk-tabs__list-item--selected {
        background: #fff;
        position: relative;
        .govuk-tabs__tab {
          color: $govuk-text-colour;
        }
      }
      .govuk-tabs__panel {
        margin-top: -1px;
        z-index: 1;
        position: relative;
        border-top: 1px solid $govuk-border-colour;
      }
    }
  }
}
