// this anything in here will be in scope for all ripa prototypes
[class*='app-entity'] {

}

.app-entity-version-1 {

  .app-c-key-dates {
    padding: govuk-spacing(3) 0;
    border-top: 1px solid $govuk-border-colour;
  }

  .app-c-key-dates__item {
    font-size: govuk-font-size(14);
  }

}
