{% extends "layouts/layout.html" %}
{%- from 'govuk_frontend_jinja/components/details/macro.html' import govukDetails -%}

{% block pageTitle %}Data manager prototypes{% endblock %}
{% block content %}

  <main id="content" role="main">
    <div class="govuk-grid-row"> 
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Data manager</h1>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>
    </div>

    <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-two-thirds">
      

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2"> <a href="version-1/">Version 1</a></h2>
              <p>24th Oct 2022</p>
            </div>
            <!-- /.govuk-grid-column-one-third -->
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-m">Iteration notes</h2>
              <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
                <li>Adds initial prototype</li>
              </ul>
            </div>
          </div>

          {# <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            </div>
          </div> #}

      </div>
      
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Useful links</h2>
        <ul class="govuk-list govuk-list--spaced">
          <li><a href="https://app.mural.co/t/mhclg2837/m/mhclg2837/1653037801728/95ffcd74ba614e920b71e31ba740bb2f3ec34361?sender=u22d50a56a87d8a7dbf2c6285">Mural board of sketches and notes</a></li>
        </ul>
      </div>
    
    </div>


  </main>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
{% endblock bodyEnd %}
