.dl-link--mono,
.u-font-mono {
	font-family: monospace;
}

.app-secondary-text {
    color: govuk-colour('dark-grey');
}

.app-code {
  display: inline-block;
  padding: govuk-spacing(1) govuk-spacing(2);
  background-color: govuk-colour("light-grey");
  font-family: ui-monospace, 
  Menlo, Monaco, 
  "Cascadia Mono", "Segoe UI Mono", 
  "Roboto Mono", 
  "Oxygen Mono", 
  "Ubuntu Monospace", 
  "Source Code Pro",
  "Fira Mono", 
  "Droid Sans Mono", 
  "Courier New", monospace;
  border-radius: 3px;
  font-size: 80%;
}
